<h1>Stocks</h1>
<div id="stocks">
  <table class="table table-secondary table-striped table-bordered table-hover">
    <thead>
      <tr class="table-dark">
        <th>Ticker</th>
        <th>Company Name</th>
        <th>Current Price</th>
        <th>Market Cap</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @stocks.each do |stock| %>
        <%= render 'stock_row', stock: stock %>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "New stock", new_stock_path %>
