<div class="card col-4 mx-auto">
  <div class="card-body">
    <%= render @stock %>
  </div>
  <div class="card-footer">
    <div class="row mx-auto">
      <%= link_to "Edit", edit_stock_path(@stock), class: "col btn btn-outline-primary" %>
      <%= button_to "Delete", @stock, method: :delete, class: "btn btn-outline-danger w-100", form_class: "col" %>
    </div>
    <div class="row">
      <%= link_to "Back to stocks", stocks_path, class: 'btn btn-link col' %>
    </div>
  </div>
</div>
